extends  ../_skeleton
//- Includes
include ../elements/_ui-breadcrumb-classic
include ../elements/_ui-rd-map
include ../elements/_widget-form-subscribe
//- Title
block title
  title= cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.title
//- Page
block page
  // Page Header
  header.page-head
    //- RD Navbar
    +rd-navbar-corporate(
    'rd-navbar-default',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-static',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoCorporateNavbar,
    cfg.nav.pages,
    cfg.nav
    )
  +breadcrumb-classic(
  cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.title,
  {
    0: {
      "title": cfg.nav.home.title,
      "href": cfg.nav.home.href
    },
    1: {
      "title": cfg.nav.pages.title,
      "href": cfg.nav.pages.href
    },
    2: {
       "title": cfg.nav.pages.submenu.eventsCalendar.title,
       "href": cfg.nav.pages.submenu.eventsCalendar.href
    },
    3: {
      "title": cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.title,
      "href": cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.href
    }
  })
  // Page Content
  main.page-content
    section.section-70.section-md-114
      .shell
        .range.range-xs-center
          .cell-sm-6.text-left
            .inset-sm-right-30
              img.img-responsive.reveal-inline-block(src="images/event-01-540x540.jpg" width=540 height=540 alt="")
              .offset-top-30.offset-sm-top-60
                h6.text-bold A Few Words About Lecturer
                .text-subline
              .offset-top-20.text-center.text-xs-left
                .unit.unit-xs.unit-xs-horizontal.unit-spacing-lg
                  .unit-left
                    img.img-responsive.reveal-inline-block.img-rounded(src="images/users/user-walter-myers-110x110.jpg" width=110 height=110 alt="")
                  .unit-body
                    h6.text-bold.text-primary Walter Myers
                    .offset-sm-top-30
                      ul.list.list-unstyled
                        li
                          span.icon.icon-xs.mdi.mdi-phone.text-middle
                          a.reveal-inline-block.text-black.inset-left-10(href="callto:#") 1-800-1234-567
                        li
                          span.icon.icon-xs.mdi.mdi-email-outline.text-middle
                          a.reveal-inline-block.inset-left-10(href="mailto:info@demolink.org") info@demolink.org
                .offset-top-20
                  p Walter is the Head of Kids Tree Summer Camp and he oversees office and camp operations each season. He has been involved with our summer camp his entire life as a camper, counselor, and director, and in 2001 followed a lifelong dream of moving to our city and taking part in Kids Tree summer activities.
          .cell-sm-6.text-left.offset-top-50.offset-sm-top-0
            h2.text-bold Summer Art & Craft Workshop
            .offset-top-30.offset-sm-top-60
              p Children of all ages really benefit from being involved in art and craft activities. It's not necessarily about the end product, but the exciting and absorbing journey they go on to create their own masterpiece.
              p These experiences help to build essential and desirable life skills, and the best bit - children LOVE arts and craft! In the right environment, they engage in their own way and flourish.
            .offset-top-30.offset-sm-top-60
              h6.text-bold When is the next workshop and how can my child apply?
              .text-subline
            .offset-top-17
              p Details of the next available workshop are below:
              ul.list.list-unstyled
                li
                  span.text-black Date:
                  = " "
                  span Thursday 14th April
                li
                  span.text-black Times:
                  = " "
                  span 9.30am - 3.30pm
                li
                  span.text-black Fee:
                  = " "
                  span $120
                li
                  span.text-black Location:
                  = " "
                  span 1 Fitzwilliam Street, Parramatta  - Building of Kids Tree Preschool
              .offset-top-30.offset-sm-top-60
                h6.text-bold What you need to bring
                .text-subline
              .offset-top-20
                p All essential materials and equipment are provided, however, we encourage students to bring an A3 portfolio folder (including a minimum of 5 plastic sleeves).
                p If you'd like to enroll, download and complete this form, then send it back to mail@demolink.org with the subject line "Art & Craft Workshop".
              .offset-top-30
                a(href= cfg.nav.pages.submenu.pages.submenu.apply.href).btn.btn-ellipse.btn-primary Apply Now

    // Events
    section.bg-catskill
      .shell-wide.section-70.section-md-114
        h2.text-bold Other Events

        .range.offset-top-60.range-xs-center
          .cell-sm-6.cell-md-5.cell-xl-3
            article.post-event
              .post-event-img-overlay
                img.img-responsive(src="images/blog/events-01-420x420.jpg", width=420, height=420, alt="")
                .post-event-overlay.context-dark
                  a(href= cfg.nav.pages.submenu.pages.submenu.apply.href).btn.btn-ellipse.btn-primary Book Now
                  .offset-top-20
                    a(href= cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.href).btn.btn-ellipse.btn-default Learn More
              .unit.unit-lg.unit-lg-horizontal
                .unit-left
                  .post-event-meta.text-center
                    .h3.text-bold.reveal-inline-block.reveal-lg-block 16
                    p.reveal-inline-block.reveal-lg-block June
                    span.text-bold.reveal-inline-block.reveal-lg-block.inset-left-10.inset-lg-left-0 5:00pm
                .unit-body
                  .post-event-body.text-lg-left
                    h6
                      a(href= cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.href) Summer Art & Craft Workshop
                    ul.list-inline.list-inline-xs
                      li
                        a(href=cfg.nav.pages.submenu.about.submenu.teamMemberProfile.href)
                          span.icon.icon-xxs.mdi.mdi-account-outline.text-middle
                          span.inset-left-10.text-dark.text-middle Walter Stanley
          .cell-sm-6.cell-md-5.cell-xl-3.offset-top-50.offset-sm-top-0
            article.post-event
              .post-event-img-overlay
                img.img-responsive(src="images/blog/events-02-420x420.jpg", width=420, height=420, alt="")
                .post-event-overlay.context-dark
                  a(href= cfg.nav.pages.submenu.pages.submenu.apply.href).btn.btn-ellipse.btn-primary Book Now
                  .offset-top-20
                    a(href= cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.href).btn.btn-ellipse.btn-default Learn More
              .unit.unit-lg.unit-lg-horizontal
                .unit-left
                  .post-event-meta.text-center
                    .h3.text-bold.reveal-inline-block.reveal-lg-block 18
                    p.reveal-inline-block.reveal-lg-block July
                    span.text-bold.reveal-inline-block.reveal-lg-block.inset-left-10.inset-lg-left-0 5:00pm
                .unit-body
                  .post-event-body.text-lg-left
                    h6
                      a(href= cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.href) Preschool Drawing Contest
                    ul.list-inline.list-inline-xs
                      li
                        a(href=cfg.nav.pages.submenu.about.submenu.teamMemberProfile.href)
                          span.icon.icon-xxs.mdi.mdi-account-outline.text-middle
                          span.inset-left-10.text-dark.text-middle Raymond Salazar
          .cell-sm-6.cell-md-5.cell-xl-3.offset-top-50.offset-xl-top-0
            article.post-event
              .post-event-img-overlay
                img.img-responsive(src="images/blog/events-03-420x420.jpg", width=420, height=420, alt="")
                .post-event-overlay.context-dark
                  a(href= cfg.nav.pages.submenu.pages.submenu.apply.href).btn.btn-ellipse.btn-primary Book Now
                  .offset-top-20
                    a(href= cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.href).btn.btn-ellipse.btn-default Learn More
              .unit.unit-lg.unit-lg-horizontal
                .unit-left
                  .post-event-meta.text-center
                    .h3.text-bold.reveal-inline-block.reveal-lg-block 22
                    p.reveal-inline-block.reveal-lg-block June
                    span.text-bold.reveal-inline-block.reveal-lg-block.inset-left-10.inset-lg-left-0 5:00pm
                .unit-body
                  .post-event-body.text-lg-left
                    h6
                      a(href= cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.href) Mother's Day
                    ul.list-inline.list-inline-xs
                      li
                        a(href=cfg.nav.pages.submenu.about.submenu.teamMemberProfile.href)
                          span.icon.icon-xxs.mdi.mdi-account-outline.text-middle
                          span.inset-left-10.text-dark.text-middle Bruce Hawkins
          .cell-sm-6.cell-md-5.cell-xl-3.offset-top-50.offset-xl-top-0
            article.post-event
              .post-event-img-overlay
                img.img-responsive(src="images/blog/event-08-420x420.jpg", width=420, height=420, alt="")
                .post-event-overlay.context-dark
                  a(href= cfg.nav.pages.submenu.pages.submenu.apply.href).btn.btn-ellipse.btn-primary Book Now
                  .offset-top-20
                    a(href= cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.href).btn.btn-ellipse.btn-default Learn More
              .unit.unit-lg.unit-lg-horizontal
                .unit-left
                  .post-event-meta.text-center
                    .h3.text-bold.reveal-inline-block.reveal-lg-block 29
                    p.reveal-inline-block.reveal-lg-block June
                    span.text-bold.reveal-inline-block.reveal-lg-block.inset-left-10.inset-lg-left-0 5:00pm
                .unit-body
                  .post-event-body.text-lg-left
                    h6
                      a(href= cfg.nav.pages.submenu.eventsCalendar.submenu.eventPage.href) Family Celebration 2016: Drawing & Writing Contest at Kids Tree Preschool
                    ul.list-inline.list-inline-xs
                      li
                        a(href=cfg.nav.pages.submenu.about.submenu.teamMemberProfile.href)
                          span.icon.icon-xxs.mdi.mdi-account-outline.text-middle
                          span.inset-left-10.text-dark.text-middle Walter Stanley
  // Page Footer
  include ../sections/_section-footer-corporate

