//- progress - object{progress}
mixin progress-bar-bootstrap(progress)
  // Bootstrap progress bar
  - var minWidth = (progress.numberHide != true) ? "min-width: 2em;" : ""
  .progress-linear
    .progress-header.clearfix
      .text-left
        h6.text-bold.pull-left.text-black= progress.title
      span.text-bold.pull-right.progress-size= progress.valueTo
    .progress-bar-linear-wrap.offset-top-5
      .progress
        .progress-bar(class= progress.apClass)(role="progressbar" aria-valuenow= progress.valueTo aria-valuemin="0" aria-valuemax="100" style="#{minWidth} width: #{progress.valueTo}%;")
          span(class= progress.numberHide && "sr-only")= progress.valueTo + '%'
